python-dotenv==1.2.1
python-telegram-bot==22.5
requests
urllib3
python-dotenv

# --- Data Handling ---
pandas==2.3.1
numpy
openpyxl
sqlalchemy
supabase==2.24.0


# --- Utilities ---
beautifulsoup4
pydantic
pillow
selenium
webdriver-manager